html,
body {
  color:  white;
  background-color: black;
  overflow-x: hidden;
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
@font-face {
  font-family: "phonk";
  src: url("../assets/fonts/phonk.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
#nextBtn {
  cursor: pointer;
}
#prevBtn {
  cursor: pointer;
}
#main > div > div {
  padding-bottom: 30%;
}
#projects{
  transition: opacity 0.5s;
  opacity: 0;
}
.sets{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.set{
  margin: 10px;
  height: 25px;
  cursor: pointer;
  width: 25px;
  border-radius: 50%;
  align-items: center;
  background-color: white ;
}
.activeSet {
  background-color: lightpink;
}
.projectCard {
    transform: scale(1.0);
  height: 90vh;
  position: relative;
  width: 450px;
  margin-right: -85px;
  margin-left: -85px;
  transition: 0.3s;
  border-left: solid 50px black;
  border-right:  solid 50px black;
  clip-path: inset(0 20%);
}
#spacer {
    padding-right: calc(50vw - 10em);
}
.projectImage {
  clip-path: inset(100% 100%);
  filter: blur(3px);
  transition: 0.7s;
  z-index: 3;
  position: relative;
  transform: scale(1.04);

  -webkit-filter: blur(3px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: calc(1080px / 2);
  background-repeat: no-repeat;
}
.projectImage2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.6;
  left: 0;
  transform: scale(1.02);
  z-index: 2;
  filter: blur(3px);
  transition: 0.3s;

  -webkit-filter: blur(3px);

  /* Full height */

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projectTitle {
  color: white;
  stroke: black;
  -webkit-text-stroke: 0.3px black;
  text-shadow: 3px 3px 30px black, -2px 1px 30px black;
  transition: 0.3s;
  text-align: center;
  font-weight: bold;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  font-size: 16px;
}

/* .outline {
    opacity: 0;
    transition: 0.3s;
    border: solid 10px black;
    position: absolute;
    width: 190px;
    height: calc(100% - 12px);
    transform: scale(1.02);
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);

    z-index: 99;
} */
h1 {
  font-family: "phonk";
}
.projectCard:hover {
    z-index: 99;
  clip-path: inset(0 0%);
}

.projectCard:hover > .projectImage {
  clip-path: inset(0 0%);

  filter: blur(.5px);
  -webkit-filter: blur(.5px);
}
.projectCard:hover > .projectTitle {
  opacity: 0;
}

@media (min-width: 400px) {
  .parent {
    justify-content:space-between;

    display: flex;
  }
  .projectControl {
    display: flex;
    align-items: center;
    width: 70%;
    overflow: visible;
    /* justify-content: space-around; */
  }
   
  #main {
    width: 20%;
  }
  
  .projectCards {
    padding: 0 60px;
    display: flex;
    /* justify-content:space-between; */
  }
  
}
